body {
  margin: 0;
  padding: 0;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 100px;
  gap: 0.5rem;
}

.card {
  grid-row: span 2 / auto;
}

.card-tall {
  grid-row: span 4 / auto;
}

.card-small {
  grid-row: span 1 / auto;
}
