body {
  padding: 0;
  margin: 0;
}

.mario {
  display: grid;
  width: 36rem;
  height: 48rem;
  grid-template-columns: repeat(12, 3rem);
  grid-template-rows: repeat(16, 3rem);
}

.box1,
.box2,
.box3,
.box10,
.box11,
.box12,
.box13,
.box14,
.box25,
.box26,
.box35,
.box36,
.box37,
.box49,
.box61,
.box73,
.box74,
.box75,
.box84,
.box85,
.box86,
.box94,
.box95,
.box96,
.box97,
.box108,
.box157,
.box158,
.box162,
.box163,
.box167,
.box168,
.box169,
.box173,
.box174,
.box175,
.box176,
.box180,
.box185,
.box186,
.box187,
.box188 {
  background-color: cornsilk;
}

.box125,
.box128 {
  background-color: yellow;
}

.box33,
.box45,
.box58,
.box69,
.box70,
.box71,
.box72 {
  background-color: black;
}

.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box15,
.box16,
.box17,
.box18,
.box19,
.box20,
.box21,
.box22,
.box23,
.box24,
.box87,
.box88,
.box90,
.box91,
.box92,
.box93,
.box98,
.box99,
.box100,
.box102,
.box103,
.box105,
.box106,
.box107,
.box109,
.box110,
.box111,
.box112,
.box117,
.box118,
.box119,
.box120,
.box123,
.box130 {
  background-color: red;
}

.box27,
.box28,
.box29,
.box38,
.box40,
.box50,
.box52,
.box53,
.box62,
.box63,
.box170,
.box171,
.box172,
.box177,
.box178,
.box179,
.box181,
.box182,
.box183,
.box184,
.box189,
.box190,
.box191,
.box192 {
  background-color: #8b4513;
}

.box30,
.box31,
.box32,
.box34,
.box39,
.box41,
.box42,
.box43,
.box44,
.box46,
.box47,
.box48,
.box51,
.box54,
.box55,
.box56,
.box57,
.box59,
.box60,
.box64,
.box65,
.box66,
.box67,
.box68,
.box76,
.box77,
.box78,
.box79,
.box80,
.box81,
.box82,
.box83,
.box121,
.box122,
.box131,
.box132,
.box133,
.box134,
.box135,
.box142,
.box143,
.box144,
.box145,
.box146,
.box155,
.box156 {
  background-color: tan;
}

.box89,
.box101,
.box104,
.box113,
.box114,
.box115,
.box116,
.box124,
.box126,
.box127,
.box129,
.box136,
.box137,
.box138,
.box139,
.box140,
.box141,
.box147,
.box148,
.box149,
.box150,
.box151,
.box152,
.box153,
.box154,
.box159,
.box160,
.box161,
.box164,
.box165,
.box166 {
  background-color: blue;
}
