:root {
  --yellow: #fbde44ff;
  --darkblue: #28334aff;
  --orange: #f65058ff;
  --blue: #b8dfd8;
  --lightblue: #e8f6ef;
}

.weatherBody {
  background-color: var(--lightblue);
  color: var(--darkblue);
  font-family: "Mulish", sans-serif;
}

.indexBody {
  background-color: var(--yellow);
  color: white;
  font-family: "Mulish", sans-serif;
}

.todayContainer {
  font-size: 20px;
  color: var(--darkblue);
  border-radius: 40px;
  background-color: var(--yellow);
  padding: 10px;
  margin: 30px;
  display: grid;
  place-items: center;
  padding: 0px;
}

.forecastContainer {
  font-size: 20px;
  color: black;
}

.input {
  background-color: var(--lightblue);
  height: 40px;
  width: 50%;
  font-size: 20px;
  border: none;
  text-align: right;
  padding-right: 12px;
  outline: none;
}

.searchButton {
  height: 45px;
  width: 80px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 10px;
}

.imgElement {
  width: 200px;
  border-radius: 40px;
  width: 87%;
}

.forecastElement {
  background-color: var(--darkblue);
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  border-radius: 32px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.searchContainer {
  display: flex;
  justify-content: right;
  margin-top: 30px;
  margin-right: 10px;
}

.cityElement {
  margin: 10x;
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.temp {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}

.descriptionElement {
  font-size: 25px;
  margin: 0px;
  margin-bottom: 20px;
}

.tempAndDescriptionContainer {
  background-color: var(--blue);
  width: 87%;
  margin: 20px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.infoContainer {
  width: 87%;
  margin: 20px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.infoElement {
  background-color: var(--blue);
  padding: 10px;
  font-size: 17px;
  border-radius: 12px;
  width: 25%;
  margin: 0px;
  text-align: center;
}
